[submodule "Cheezy/vendor/spdlog"]
	path = Cheezy/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Cheezy/vendor/GLFW"]
	path = Cheezy/vendor/GLFW
	url = https://github.com/thecherno/glfw
	branch = master
[submodule "Cheezy/vendor/imgui"]
	path = Cheezy/vendor/imgui
	url = https://github.com/thecherno/imgui
	branch = docking
[submodule "Cheezy/vendor/glm"]
	path = Cheezy/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
